/*********************************************/
/*****              Reset                *****/
/*********************************************/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
       		box-sizing: border-box;
}

article, aside, button, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

figure { margin: 0; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	padding: 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: normal;
}

/*********************************************/
/*****        Etiquetas Propias          *****/
/*********************************************/
.contenedor {
	margin: 0 auto;
	width: 400px;
}

.img-responsive {
	height: auto !important;
	max-width: 100%;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	color: white;
	height: 100vh;
	overflow: hidden;
	position: relative;
	text-align: center;
	align-items: center;
	display: flex;
}

.fondo {
	animation: 60s Fondo linear infinite;
	background-attachment: fixed;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: repeat-x;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@keyframes Fondo {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100vw);
	}
}

.portada .contenedor {
	z-index: 2;
}

.logo {
	margin: 2em 0;
}

.redes {
	margin: 2em 0;
	overflow: hidden;
}

.redes ul {
	margin: 0;
	padding: 0;
}

.redes ul li {
	display: inline-block;
	list-style: none;
}

.redes a {
	color: #FFFFFF;
	text-decoration: none;
}

.redes .icono {
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	font-size: 1.5em;
	margin: .6em;
	padding: .6em;
  transition: all .3s ease;
}

.redes .icono:hover {
	background-color: rgba(255, 255, 255, .4);
  -webkit-transform: scale(1.4);
  	 -moz-transform: scale(1.4);
  	  -ms-transform: scale(1.4);
  	   -o-transform: scale(1.4);
  	   		transform: scale(1.4);
}